<!--<body class="hold-transition login-page">-->
<!--<div class="login-box">-->
<!--  <div class="login-logo">-->
<!--    &lt;!&ndash;    <a href="../../index2.html"><b>Admin</b></a>&ndash;&gt;-->
<!--    <b>Quiz</b>-->
<!--  </div>-->
<!--  &lt;!&ndash; /.login-logo &ndash;&gt;-->
<!--  <div class="card">-->
<!--    <div class="card-body login-card-body">-->
<!--      <p class="login-box-msg"><b>Đăng nhập</b></p>-->

<!--      <form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--        <div class="input-group mb-3">-->
<!--          <input required="required" type="text" class="form-control" placeholder="Username" name="username" formControlName="username">-->
<!--          <div class="input-group-append">-->
<!--            <div class="input-group-text">-->
<!--              <span class="fas fa-user"></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div *ngIf="username.errors && username.touched" style="color: #e4606d">-->
<!--          <h3>Vui lòng không để trống!</h3>-->
<!--        </div>-->
<!--        <div class="input-group mb-3">-->
<!--          <input required="required" [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Mật khẩu" formControlName="password">-->
<!--          <div class="input-group-append">-->
<!--            <div class="input-group-text">-->
<!--              <i-->
<!--                class="fa"-->
<!--                [ngClass]="{-->
<!--                        'fa-eye-slash': !fieldTextType,-->
<!--                        'fa-eye': fieldTextType-->
<!--                      }"-->
<!--                (click)="toggleFieldTextType()"-->
<!--              ></i>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div *ngIf="password.errors && password.touched" style="color: #e4606d">-->
<!--          <h3>Vui lòng không để trống!</h3>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          &lt;!&ndash; /.col &ndash;&gt;-->
<!--          <div class="col-5">-->
<!--            &lt;!&ndash;            <button type="submit" class="btn btn-primary btn-block">Sign In</button>&ndash;&gt;-->
<!--            <button (click)="login()" class="btn btn-primary btn-block">Đăng nhập</button>-->
<!--          </div>-->
<!--          <div class="row-4">-->
<!--            <button [routerLink]="['/home/index']" class="btn btn-primary btn-block">Quay lại</button>-->
<!--          </div>-->
<!--          &lt;!&ndash; /.col &ndash;&gt;-->
<!--        </div>-->
<!--      </form>-->

<!--      &lt;!&ndash;      <div class="social-auth-links text-center mb-3">&ndash;&gt;-->
<!--      &lt;!&ndash;        <p>- OR -</p>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a href="#" class="btn btn-block btn-primary">&ndash;&gt;-->
<!--      &lt;!&ndash;          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook&ndash;&gt;-->
<!--      &lt;!&ndash;        </a>&ndash;&gt;-->
<!--      &lt;!&ndash;        <a href="#" class="btn btn-block btn-danger">&ndash;&gt;-->
<!--      &lt;!&ndash;          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+&ndash;&gt;-->
<!--      &lt;!&ndash;        </a>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash; /.social-auth-links &ndash;&gt;-->

<!--      &lt;!&ndash;      <p class="mb-1">&ndash;&gt;-->
<!--      &lt;!&ndash;        <a [routerLink]="['/forgot-password.html']" >Quên mật khẩu</a>&ndash;&gt;-->
<!--      &lt;!&ndash;      </p>&ndash;&gt;-->
<!--      <p class="mb-0">-->
<!--        <a [routerLink]="['/signup']" class="text-center">Đăng ký</a>-->
<!--      </p>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.login-card-body &ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->



