<!--<body>-->
<!--<h3>Login</h3>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--  <div class="login">-->
<!--    <div  class="group" > <label for="user" class="label">Username</label>-->
<!--      <input id="user" formControlName="username" type="text" class="input" placeholder="Enter your username" required [(ngModel)]="user.username">-->
<!--    </div>-->
<!--    <div class="group"> <label for="pass" class="label">Password</label>-->
<!--      <input id="pass" formControlName="password" type="password" class="input" data-type="password" placeholder="Enter your password" required [(ngModel)]="user.password">-->
<!--    </div>-->
<!--    <div><p class="alert-warning" >{{message}}</p></div>-->
<!--    <div class="group"> <input id="check" type="checkbox" class="check" checked>-->
<!--      <label for="check"><span class="icon"></span> Keep me Signed in</label>-->
<!--    </div>-->
<!--    <div class="group"> <input type="submit" class="btn btn-primary btn-block btn-round" [disabled]="!formLogin.valid"value="Log In"> </div>-->
<!--    <div class="hr"></div>-->
<!--    <div class="foot"> <a href="#">Forgot Password?</a> </div>-->
<!--  </div>-->
<!--</form>-->
<!--</body>-->
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <!--    <a href="../../index2.html"><b>Admin</b></a>-->
    </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"><b>Đăng nhập</b></p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group mb-3">
          <label>Username</label>
          <input required="required" type="text" class="form-control" placeholder="Username" name="username" formControlName="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <label>Pass word</label>
          <input required="required" [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Mật khẩu" formControlName="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                (click)="toggleFieldTextType()"
              ></i>
            </div>

          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-5">
            <!--            <button type="submit" class="btn btn-primary btn-block">Sign In</button>-->
            <button (click)="login()" class="btn btn-primary btn-block">Đăng nhập</button>
          </div>
          <!-- <div class="row-4">
            <button [routerLink]="['/home/index']" class="btn btn-primary btn-block">Quay lại</button>
          </div> -->
        </div>
      </form>

      <p class="mb-0">
        <a [routerLink]="['/register']" class="text-center">Đăng ký</a>
      </p>
    </div>
  </div>
</div>
</body>




