
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <b>Đăng Ký</b>
  </div>
  <div class="card">
    <div class="card-body register-card-body">
      <form [formGroup]="formRegister" (ngSubmit)="register()">
        <div class="input-group mb-3">
          <label class="col-sm-3 col-form-label">Email</label>
          <br>
          <input type="email" class="form-control" formControlName="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <label  class="col-sm-3 col-form-label">Số điện thoại</label><br>
          <input type="text" class="form-control"  formControlName="phoneNumber">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <label  class="col-sm-3 col-form-label">Dia chi</label><br>
          <input type="text" class="form-control"  formControlName="address">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <label  class="col-sm-3 col-form-label">FullName</label><br>
          <input type="text" class="form-control"  formControlName="fullName">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <label  class="col-sm-3 col-form-label">Date</label><br>
          <input type="text" class="form-control"  formControlName="date">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <label  class="col-sm-3 col-form-label">Tài khoản</label><br>
          <input type="text" class="form-control"  formControlName="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <label  class="col-sm-3 col-form-label">Mật khẩu</label><br>
          <input type="password" class="form-control"  formControlName="password">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <label  class="col-sm-3 col-form-label">Nhập lại</label><br>
          <input type="password" class="form-control"  formControlName="confirmPassword">
          <div class="input-group-append">
            <div class="input-group-text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
          </div>
          <br>
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/home/index']">Quay lại</button>
          </div>
        </div>
      </form>

      <p class="mb-0">
        <a [routerLink]="['/login']" class="text-center">Tôi đã có tài khoản</a>
      </p>
    </div>
  </div>
</div>
</body>


